/* Home Section Starts */
.home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 0 5% 20px 5%;
    background-color: var(--bgCol);
    position: relative;
}

.home .left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    animation: animateMenu 1s forwards ease-in;
}
.home .left .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home .left .title h2{
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 4rem;
}
.home .left p{
    margin-bottom: 3rem;
    font-size: .9rem;
    font-weight: 300;
    width: 80%;
    margin-top: .5rem;
}
.home .left .all>button{
    padding: 10px 20px;
    border: none;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: var(--transition);
    border: 2px solid var(--textCol);
    background-color: var(--textCol);
    color: white;
}
.home .left .all >button:hover{
    transform: scale(1.05);
}
.home .left .btns{
    display: none;
}

.home .left .all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home .right{
    position: absolute;
    top: 0;
    left: 70%;
    width: 29%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animateMenu 1s forwards ease-in;
    margin: .5%;
    background-color: var(--secondaryCol);
    z-index: 10;
    border-radius: 20px;
}
/* Home Section Ends */

/* For Tablet Size */
@media screen and (max-width:999px) {
    .home{
        flex-direction: column;
        gap: 3rem;
        background-position: right ;

    }
    .home .right,.home .left{
        width: 100%;
    }



}

/* For Mobile Size */
@media screen and (max-width:599px) {
    .home{
        gap: 2rem;
    }
    .home .left .title img{
        width: 40px;
    }
    .home .left .title h2{
        font-size: 2rem;
    }
    .home .left p {
        margin-bottom: 1rem;
        font-size: .6rem;
    }
    .home .left .all{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .home .left .all>button{
        font-size: .7rem;
        padding: 5px 10px;
    }

}